<!-- Esse component fica responsavel por trazer a lista com todos os funcionarios, alem de trazer tambem os botões que vão interagir com as outras paginas. -->
<div class="container">
  <div *ngIf="funcionarios.length === 0; else funcionariosList" class="no-funcionarios">
    Nenhum funcionário cadastrado.
  </div>
  <ng-template #funcionariosList>
    <div class="cards-container">
      <mat-card *ngFor="let funcionario of funcionarios" class="funcionario-card">
        <mat-card-header>
          <mat-card-title class="titulo">{{ funcionario.nome }}</mat-card-title>
        </mat-card-header>
        <mat-card-actions class="btGroup">
          <button mat-flat-button class="btOptions" color="primary"
          [routerLink]="['/funcionario', funcionario.id]">Visualizar</button>
          <button mat-flat-button class="btOptions" color="accent"
          [routerLink]="['/funcionarios/edit', funcionario.id]">Editar</button>
          <button mat-flat-button class="btOptions" color="warn" (click)="deleteFuncionario(funcionario.id)">Excluir</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <button mat-raised-button class="btAdd" color="primary" [routerLink]="['/funcionarios/add']">Adicionar Funcionário</button>
  </ng-template>
</div>

