<div>
  <h2>{{ isEditMode ? 'Editar Funcionário' : 'Adicionar Funcionário' }}</h2>
  <form [formGroup]="funcionarioForm" (ngSubmit)="onSubmit()">
    <label>
      Nome:
      <input formControlName="nome" required />
      <div *ngIf="funcionarioForm.get('nome')?.invalid && (funcionarioForm.get('nome')?.dirty || funcionarioForm.get('nome')?.touched)">
        <small class="error" *ngIf="funcionarioForm.get('nome')?.errors?.['required']">Nome é obrigatório.</small>
      </div>
    </label>
    <label>
      Gênero:
      <input formControlName="genero" />
    </label>
    <label>
      Telefone:
      <input formControlName="telefone" />
    </label>
    <label>
      Nascimento:
      <input formControlName="nascimento" type="date" required />
      <div *ngIf="funcionarioForm.get('nascimento')?.invalid && (funcionarioForm.get('nascimento')?.dirty || funcionarioForm.get('nascimento')?.touched)">
        <small class="error" *ngIf="funcionarioForm.get('nascimento')?.errors?.['required']">Data de nascimento é obrigatória.</small>
      </div>
    </label>
    <label>
      Estado Civil:
      <input formControlName="estadocivil" />
    </label>
    <label>
      Rua:
      <input formControlName="rua" />
    </label>
    <label>
      Número:
      <input formControlName="numero" type="number" />
    </label>
    <label>
      Complemento:
      <input formControlName="complemento" />
    </label>
    <label>
      Bairro:
      <input formControlName="bairro" />
    </label>
    <button type="submit" [disabled]="funcionarioForm.invalid">{{ isEditMode ? 'Salvar Alterações' : 'Adicionar' }}</button>
  </form>
</div>
